@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html{
  height:100%;
}

body{
  background: url(../img/accessories/Background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin: 0;
  height:100%;
}

.container{
  text-align: center;
}

.container__accessories{
  transition:transform .2s;
  touch-action: manipulation;
}

.container__accessories:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container__start-finish{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #40b5cd;
}

.container__table-high-score{
  margin: 0 auto;
  text-align: left;
  min-width: 500px;
  padding: 30px;
  font-size: 1.5em;
}

.container__start{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;  
  color: white;
  background-color: #40b5cd;
  height: 100%;
}

.container__game-over-container{
  padding-top: 10%;
}

.container__start-finish-button{
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  background-color: #f4876c;
  border: none;
  border-radius: 3px;
  transition: 0.3s;
}

.container__start-finish-button:hover{
  cursor: pointer;
  background-color: #f15f3b;
}

.container__coffee{
	width: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	transition: 2s ease;
}

.container__coffee:hover{
	cursor:pointer
}

.container__score--main{
    margin: 0 auto;
	padding: 20px 15px 10px 15px;
	background-color: #f4876c;
	color: white;
	border-radius: 0px 0px 10px 10px;
	display:table;
}

.container__hungry_outer{
	float:left;
	width:200px;
}

.container__baby-img{
	width:auto;
	padding-top: 20px;
}

.container__score_score_middle_outer{
	float:left;
	padding: 0px 20px 0px 20px;
	width:200px;
}

.container__uncomfortable_outer{
	float:right;
	width:200px;
}

.container__uncomfortable_score_inner, .container__hungry_score_inner, .container__score_middle_inner{
	height:20px;
	width: 30%;
	background-color:white;
	transition: ease 0.3s;
}

.container__text{
  font-size: 1.5em;
  display:inline;
}

.sleep-score{
	font-size:2em;
}

.container__text--game-time{
	display:none;
}

.container__clock{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: none;
}

.container__clock--minute{
  animation: minutehand 2.5s infinite;
  -webkit-animation: minutehand 2.5s infinite;
  transform-origin: 50% 50%;
  transition-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.container__text-input{
  padding: 20px;
  width: 250px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  margin: 50px 0px 50px 0px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes minutehand {
    0%   {transform: rotate(0deg); }
    20%  {transform: rotate(72deg); }
    40%  {transform: rotate(144deg); }
    60% {transform: rotate(216deg); }
	80% {transform: rotate(288deg); }
	100% {transform: rotate(360deg); }
}

/* Standard syntax */
@keyframes minutehand {
    0%   {transform: rotate(0deg); }
    20%  {transform: rotate(72deg); }
    40%  {transform: rotate(144deg); }
    60% {transform: rotate(216deg); }
	80% {transform: rotate(288deg); }
	100% {transform: rotate(360deg); }
}

.container__clock--hour{
  animation: hourhand 30s infinite;
  -webkit-animation: hourhand 30s infinite;
  transform-origin: 50% 50%;
  transition-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hourhand {
    0%   {transform: rotate(0deg); }
    20%  {transform: rotate(72deg); }
    40%  {transform: rotate(144deg); }
    60% {transform: rotate(216deg); }
	80% {transform: rotate(288deg); }
	100% {transform: rotate(360deg); }
}

/* Standard syntax */
@keyframes hourhand {
    0%   {transform: rotate(0deg); }
    20%  {transform: rotate(72deg); }
    40%  {transform: rotate(144deg); }
    60% {transform: rotate(216deg); }
	80% {transform: rotate(288deg); }
	100% {transform: rotate(360deg); }
}

.container__game-over-text{
  font-size: 3em;
}

.container__text--gameover{
	display: block;
}

.container__score-animation-hidden{
  visibility: hidden;
  opacity: 0;
  transform: translateY(-90px);
  transition: 0.3s;
}

.container__score-animation-visible{
  visibility: visible;
  opacity: 0.2s;  
}

.hungry-progress-container{
	display:inline;
	width:100%;
}

.hungry-progress-inner{
	display:inline;
	height:25px;
	width:25%;
	background-color:red;
}

@media only screen and (max-width: 600px) {
  .container__start {
    height: auto;	
	padding: 20px;
    width: auto;
  }
  
  .container__start-finish {
    height: auto;	
	padding: 20px;
    width: auto;
  }
  
  .container__text-input {
    margin: 20px 0px 20px 0px;
  }
  
  .container__clock {
    display:none;
  }
  
  .container__baby-img{
    height: 225px;
  }

  .container__hungry_outer, .container__score_score_middle_outer, .container__uncomfortable_outer{
	  width:100%;
	  padding: 5px 0px 5px 0px;
  }

  .container__score--main{
	  padding: 5px 15px 5px 15px;
  }

  .container__text{
	  font-size: 1em;
  }

  .container__table-high-score {
    margin: 0 auto;
    text-align: left;
    padding: 30px;
    font-size: 1em;
    min-width: 300px;
}

.container__baby-img{
	padding-top: 5px;
}

}